@charset "utf-8";
/* CSS Document */

<style>
* {
	box-sizing: border-box ;
	padding:0;
	margin:0;
}
div { background-color:#FFF;
}
section {
  border: 1px solid black;
  background-color:#666;
  width:90%;
  height:200px;
  font-family: Helvetica;
  color: black;
  padding:50px 0px 5px 5px;
  text-align:left;
  font-size:18px;
  position:relative;
  margin-top:20px;
  float:left;
  margin:10px;
  font-family:Tahoma, Geneva, sans-serif;
}

h1 {
	margin-top:25px;
	margin-bottom:50px;
	text-align:center;
	font-size:50px;
}
.row {
  width: 100%;
}
p {
	width: 100px;
	height: 40px;
	border: 1px solid black;
	float:right;
	position: absolute;
	top:-0px;
	right:0px;
	text-align:center;
	margin-bottom:10px;
	padding:0px;
	font-family:"Arial Black", Gadget, sans-serif;
	margin-top:0;
}
#p1 {
	background-color:#906;
}
#p2 {
	background-color:#C33;
	color:#FFF;
}
#p3 {
	background-color:#0C6;
}
@media (min-width: 992px) {
	section {
		width:30%; }
 
}
@media (min-width: 768px) and (max-width: 991px) {
		section {
			width:45% ;}
		.sec {
			width:92.5% }
}
@media (max-width: 767px) {
 section {
	 width:90%; }
}
	
</style>
